
/* general things */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  background-image: linear-gradient(to bottom right, 	#F8F8F8 ,	#E8E8E8);
  height: 100%;
  width: 100%;
}

/* front page login/register form things */

.error-message {
  color: red;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.error-message-hidden {
  font-size: 1rem;
  visibility: hidden !important;
  text-align: center;
  width: 100%;
}

.front-page-container-row {
  margin-top: 10% !important;
  margin-bottom: 20% !important;
}

.front-page-container-col {
  text-align: center !important;
}

#front-page-welcome-message {
  text-align: center;
  padding-top: 20% !important;
  padding-bottom: 20% !important;
}

.front-page-card {
  width: 24rem;
  height: 28rem;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}

.form-component {
  margin-top: 5% !important;  
}

.form-row {
  height: 4rem;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#logout-card {
  width: 22rem;
  height: 12rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10rem;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}

/*user profile/home things */

#welcome-message {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}


.leaderboard-list {
 margin: 1rem 1rem 1rem 1rem;
 padding-left: 1rem;
}

.stats-container {
  margin: 1rem 1rem 1rem 1rem;
  padding-left: 1rem;
}

.leaderboard-card {
  width: 18rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}

.stats-card {
  width: 18rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}

.game-setup-card {
  width: 18rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}

/* game display things */

.fade-message {
  -webkit-animation: fadeinout 3.5s linear forwards;
  animation: fadeinout 3.5s linear forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

.hidden {
  visibility: hidden;
}



.game-card {
  width: 48rem;
  height: 39rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 1px 1px #D3D3D3;
}


.result-li {
  margin-bottom: 1rem;
}

.result-p {
  display: inline-block;
}

#result-container {
  margin-top: 4rem;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  height: 20rem;
  width: 40rem;
}

.question-prompt {
  height: 5rem;
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 1rem; */
}

#answer-button-top-row {
  margin-bottom: 4rem;
}

#answer-button-bottom-row {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.answer-button-col {
  text-align: center;
}

.answer-button {
  font-size: 1.25rem;
  border-width: 1px;
  width: 14rem;
  height: 10rem;
}







  






